In [2]:
%%time
import os
import sys
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans

CPU times: total: 0 ns
Wall time: 0 ns

In [3]:
%%time
quina = pd.read_excel("HIST_SORTEIOS_QUINA.xlsx")

CPU times: total: 922 ms
Wall time: 1.02 s

In [22]:
quina2 = quina[(quina['Data Sorteio']>='2020-01-01') ]

In [23]:
quina2.head()

,Concurso,Data Sorteio,1ª Dezena,2ª Dezena,3ª Dezena,4ª Dezena,5ª Dezena,PRIM
0,1,1994-03-13,25,45,60,76,79,25
1,2,1994-03-17,13,30,58,63,64,13
2,3,1994-03-20,5,15,32,33,48,5
3,4,1994-03-24,27,57,60,61,77,27
4,5,1994-03-27,19,44,53,54,71,19

In [24]:
quina2.dtypes

Concurso                 int64
Data Sorteio    datetime64[ns]
1ª Dezena                int64
2ª Dezena                int64
3ª Dezena                int64
4ª Dezena                int64
5ª Dezena                int64
PRIM                     int64
dtype: object

In [50]:
quina2.shape

(1012, 8)

In [51]:
#quina['PRIM'] = quina[['1ª Dezena','2ª Dezena','3ª Dezena','4ª Dezena','5ª Dezena']].min(axis=1).round(2)

In [52]:
a = quina2[['1ª Dezena','2ª Dezena','3ª Dezena','4ª Dezena','5ª Dezena']].values

In [53]:
a.sort(axis=1)  # no ascending argument

In [54]:
df = pd.DataFrame(a, quina2.index, ['1ª Dezena','2ª Dezena','3ª Dezena','4ª Dezena','5ª Dezena'])

In [55]:
df.head()

      1ª Dezena  2ª Dezena  3ª Dezena  4ª Dezena  5ª Dezena
5159         10         29         44         56         69
5160         11         14         15         47         70
5161          6         11         13         33         63
5162         48         56         70         71         75
5163         11         62         65         74         80

In [56]:
#df2 = quina2[['Concurso','Data Sorteio']].merge(df)

np.concatenate((quina2[['Concurso','Data Sorteio']].values, a), axis=0, casting="no")

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 2 and the array at index 1 has size 5

In [ ]:
quina2['dia']        = quina2['Data Sorteio'].dt.day
quina2['mes']        = quina2['Data Sorteio'].dt.month
quina2['ano']        = quina2['Data Sorteio'].dt.year
quina2['dia_semana'] = quina2['Data Sorteio'].dt.dayofweek
quina2['semana_ano'] = quina2['Data Sorteio'].dt.week

In [ ]:
import matplotlib.pyplot as plt
 
# Read data from FRED and print
fred_df = pdr.DataReader(['CPIAUCSL','CPILFESL'], 'fred', "2010-01-01", "2021-12-31")
print(fred_df)
 
# Show in plot the data of 2019-2021
fig = plt.figure(figsize=(15,7))
plt.plot(fred_df.loc["2019":], 'o-')
plt.xticks(rotation=90)
plt.legend(fred_df.columns)
plt.title("Consumer Price Index")
plt.show()

In [34]:
import calendar
import jewishcalendar

In [35]:
def getJewishMonthName(month, year):

  if month == 1:
    return "Nisan"
  elif month == 2:
    return "Iyyar"
  elif month == 3:
    return "Sivan"
  elif month == 4:
    return "Tammuz"
  elif month == 5:
    return "Av"
  elif month == 6:
    return "Elul"
  elif month == 7:
    return "Tishri"
  elif month == 8:
    return "Heshvan"
  elif month == 9:
    return "Kislev"
  elif month == 10:
    return "Teveth"
  elif month == 11:
    return "Shevat"
  elif month == 12:
    if jewishcalendar.hebrew_leap(year):
      return "Adar I"
    else:
      return "Adar"
    
  elif month == 13:
    return "Adar II"

In [36]:
absdate = jewishcalendar.gregorian_to_absdate(2023, 1, 1)
hebYear, hebMonth, hebDay = jewishcalendar.absdate_to_hebrew(absdate)

In [38]:
absdate

738521

In [37]:
print(hebYear, hebMonth, hebDay)

5783 10 8

In [ ]:
absdate = jewishcalendar.gregorian_to_absdate(gYear, gMonth, gDay)
hebYear, hebMonth, hebDay = jewishcalendar.absdate_to_hebrew(absdate)