In [3]:
%%time
import os
import sys
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

CPU times: total: 4.61 s
Wall time: 7.88 s

In [4]:
%%time
facil = pd.read_excel("Lotofacil2.xlsx")

CPU times: total: 1.3 s
Wall time: 1.43 s

In [5]:
facil.dtypes

Concurso                                                  int64
Data Sorteio                                             object
Bola1                                                     int64
Bola2                                                     int64
Bola3                                                     int64
Bola4                                                     int64
Bola5                                                     int64
Bola6                                                     int64
Bola7                                                     int64
Bola8                                                     int64
Bola9                                                     int64
Bola10                                                    int64
Bola11                                                    int64
Bola12                                                    int64
Bola13                                                    int64
Bola14                                                    int64
Bola15                                                    int64
Ganhadores 15 acertos                                     int64
Cidade / UF                                              object
Rateio 15 acertos                                        object
Ganhadores 14 acertos                                     int64
Rateio 14 acertos                                        object
Ganhadores 13 acertos                                     int64
Rateio 13 acertos                                        object
Ganhadores 12 acertos                                     int64
Rateio 12 acertos                                        object
Ganhadores 11 acertos                                     int64
Rateio 11 acertos                                        object
Acumulado 15 acertos                                     object
Arrecadacao Total                                        object
Estimativa Prêmio                                        object
Acumulado sorteio especial Lotofácil da Independência    object
Observação                                               object
dtype: object

In [15]:
facil['Data Sorteio'] = pd.to_datetime(facil['Data Sorteio'], infer_datetime_format=True)

In [6]:
facil2 = facil[(facil['Data Sorteio']>='2023-06-01') ]

In [51]:
colunas = ['Data Sorteio','Concurso','Bola1','Bola2','Bola3','Bola4','Bola5','Bola6','Bola7',
           'Bola8','Bola9','Bola10','Bola11','Bola12','Bola13','Bola14','Bola15']

In [52]:
colunas

['Data Sorteio',
 'Concurso',
 'Bola1',
 'Bola2',
 'Bola3',
 'Bola4',
 'Bola5',
 'Bola6',
 'Bola7',
 'Bola8',
 'Bola9',
 'Bola10',
 'Bola11',
 'Bola12',
 'Bola13',
 'Bola14',
 'Bola15']

In [53]:
facil2[colunas].head()

,Data Sorteio,Concurso,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15
0,29/09/2003,1,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25
4,27/10/2003,5,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25
8,24/11/2003,9,3,4,5,9,10,11,13,15,16,17,19,20,21,24,25
12,22/12/2003,13,3,5,6,7,8,9,10,11,13,14,15,16,17,19,23
13,29/12/2003,14,1,2,5,6,7,9,13,14,15,18,19,20,21,23,25

In [54]:
print(facil.shape , facil2.shape)

(2899, 33) (999, 33)

In [55]:
for bolas in range(1,17):
    print('Bola{0}'.format(bolas))

Bola1
Bola2
Bola3
Bola4
Bola5
Bola6
Bola7
Bola8
Bola9
Bola10
Bola11
Bola12
Bola13
Bola14
Bola15
Bola16

In [56]:
facil2[['Concurso','Bola4']].groupby('Bola4').count().sort_values(by='Concurso',ascending=False).head()

       Concurso
Bola4
5           211
6           207
7           195
8           139
4           109

In [68]:
lista = []
for bolas in range(1,16):
    ele = facil2[['Concurso','Bola{0}'.format(bolas)]].groupby('Bola{0}'.format(bolas)
    ).count()
    ele.sort_values(by='Concurso',ascending=False,inplace=True)
    ele.reset_index(inplace=True)
    ele.rename(columns={'Bola{0}'.format(bolas):'Bola','Concurso':'Freq'},inplace=True)
    lista.append(ele.head(1))

In [69]:
#freq = pd.DataFrame(lista)
#df = lista[0].append(lista[0], ignore_index = True)

In [70]:
df = pd.concat(lista)

In [71]:
df.reset_index().head(33)

    index  Bola  Freq
0       0     1   599
1       0     2   378
2       0     4   265
3       0     5   211
4       0     8   194
5       0    10   192
6       0    11   197
7       0    14   195
8       0    15   204
9       0    16   204
10      0    19   209
11      0    20   248
12      0    22   284
13      0    24   364
14      0    25   619

In [75]:
lista = []
for bolas in range(1,16):
    ele = facil2[['Concurso','Bola{0}'.format(bolas)]][
        facil2['Bola{0}'.format(bolas)].isin(~df.Bola.unique())].groupby('Bola{0}'.format(bolas)
    ).count()
    ele.sort_values(by='Concurso',ascending=False,inplace=True)
    ele.reset_index(inplace=True)
    ele.rename(columns={'Bola{0}'.format(bolas):'Bola','Concurso':'Freq'},inplace=True)
    lista.append(ele.head(1))

In [76]:
#facil2[['Concurso','Bola4']][facil2['Bola4'].isin(~df.Bola.unique())].groupby('Bola4').count().sort_values(by='Concurso',ascending=False).head()

In [74]:
df.Bola.unique()

array([ 1,  2,  4,  5,  8, 10, 11, 14, 15, 16, 19, 20, 22, 24, 25],
      dtype=int64)

In [77]:
df2 = pd.concat(lista)

In [78]:
df2.reset_index().head(33)

Empty DataFrame
Columns: [index, Bola, Freq]
Index: []