In [1]:
%%time
import os
import sys
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

CPU times: total: 6.7 s
Wall time: 10.6 s

In [2]:
%%time
facil = pd.read_excel("Lotofacil2.xlsx")

CPU times: total: 2.41 s
Wall time: 2.68 s

In [3]:
facil.dtypes

Concurso                                                  int64
Data Sorteio                                             object
Bola1                                                     int64
Bola2                                                     int64
Bola3                                                     int64
Bola4                                                     int64
Bola5                                                     int64
Bola6                                                     int64
Bola7                                                     int64
Bola8                                                     int64
Bola9                                                     int64
Bola10                                                    int64
Bola11                                                    int64
Bola12                                                    int64
Bola13                                                    int64
Bola14                                                    int64
Bola15                                                    int64
Ganhadores 15 acertos                                     int64
Cidade / UF                                              object
Rateio 15 acertos                                        object
Ganhadores 14 acertos                                     int64
Rateio 14 acertos                                        object
Ganhadores 13 acertos                                     int64
Rateio 13 acertos                                        object
Ganhadores 12 acertos                                     int64
Rateio 12 acertos                                        object
Ganhadores 11 acertos                                     int64
Rateio 11 acertos                                        object
Acumulado 15 acertos                                     object
Arrecadacao Total                                        object
Estimativa Prêmio                                        object
Acumulado sorteio especial Lotofácil da Independência    object
Observação                                               object
dtype: object

In [7]:
facil['Data Sorteio'] = pd.to_datetime(facil['Data Sorteio'], infer_datetime_format=True)
facil['Ano'] = facil['Data Sorteio'].dt.year
facil['Mes'] = facil['Data Sorteio'].dt.month

In [8]:
facil[['Data Sorteio','Ano']].groupby('Ano').count()

      Data Sorteio
Ano
2003            14
2004            52
2005            52
2006            63
2007           104
2008           103
2009           104
2010           104
2011           104
2012           149
2013           151
2014           152
2015           152
2016           151
2017           150
2018           152
2019           153
2020           211
2021           290
2022           292
2023           196

In [13]:
facil2 = facil[( facil['Ano']==2023) & (facil['Mes']>=6)]

In [14]:
facil2.shape

(73, 35)

In [15]:
colunas = ['Data Sorteio','Concurso','Bola1','Bola2','Bola3','Bola4','Bola5','Bola6','Bola7',
           'Bola8','Bola9','Bola10','Bola11','Bola12','Bola13','Bola14','Bola15']

In [16]:
colunas

['Data Sorteio',
 'Concurso',
 'Bola1',
 'Bola2',
 'Bola3',
 'Bola4',
 'Bola5',
 'Bola6',
 'Bola7',
 'Bola8',
 'Bola9',
 'Bola10',
 'Bola11',
 'Bola12',
 'Bola13',
 'Bola14',
 'Bola15']

In [17]:
facil2[colunas].head()

,Data Sorteio,Concurso,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15
2826,2023-06-01,2827,1,2,3,5,6,7,10,13,15,16,17,18,19,21,24
2827,2023-06-02,2828,1,5,6,8,11,12,14,15,16,17,18,19,20,21,25
2828,2023-06-03,2829,2,3,5,6,7,8,9,10,11,13,14,15,17,18,25
2829,2023-06-05,2830,2,3,4,8,9,10,11,12,13,17,18,20,21,22,25
2830,2023-06-06,2831,2,3,5,7,10,11,13,14,15,16,17,19,20,22,25

In [18]:
print(facil.shape , facil2.shape)

(2899, 35) (73, 35)

In [19]:
for bolas in range(1,17):
    print('Bola{0}'.format(bolas))

Bola1
Bola2
Bola3
Bola4
Bola5
Bola6
Bola7
Bola8
Bola9
Bola10
Bola11
Bola12
Bola13
Bola14
Bola15
Bola16

In [20]:
facil2[['Concurso','Bola4']].groupby('Bola4').count().sort_values(by='Concurso',ascending=False).head()

       Concurso
Bola4
6            20
7            16
4            10
5             9
8             7

In [21]:
lista = []
for bolas in range(1,16):
    ele = facil2[['Concurso','Bola{0}'.format(bolas)]].groupby('Bola{0}'.format(bolas)
    ).count()
    ele.sort_values(by='Concurso',ascending=False,inplace=True)
    ele.reset_index(inplace=True)
    ele.rename(columns={'Bola{0}'.format(bolas):'Bola','Concurso':'Freq'},inplace=True)
    lista.append(ele.head(1))

In [22]:
#freq = pd.DataFrame(lista)
#df = lista[0].append(lista[0], ignore_index = True)

In [23]:
df = pd.concat(lista)

In [26]:
df[['Bola','Freq']].groupby('Bola').sum()

      Freq
Bola
1       51
2       34
5       20
6       20
7       17
9       29
12      20
15      18
16      16
17      16
20      19
22      19
24      23
25      45

In [75]:
lista = []
for bolas in range(1,16):
    ele = facil2[['Concurso','Bola{0}'.format(bolas)]][
        facil2['Bola{0}'.format(bolas)].isin(~df.Bola.unique())].groupby('Bola{0}'.format(bolas)
    ).count()
    ele.sort_values(by='Concurso',ascending=False,inplace=True)
    ele.reset_index(inplace=True)
    ele.rename(columns={'Bola{0}'.format(bolas):'Bola','Concurso':'Freq'},inplace=True)
    lista.append(ele.head(1))

In [76]:
#facil2[['Concurso','Bola4']][facil2['Bola4'].isin(~df.Bola.unique())].groupby('Bola4').count().sort_values(by='Concurso',ascending=False).head()

In [74]:
df.Bola.unique()

array([ 1,  2,  4,  5,  8, 10, 11, 14, 15, 16, 19, 20, 22, 24, 25],
      dtype=int64)

In [77]:
df2 = pd.concat(lista)

In [78]:
df2.reset_index().head(33)

Empty DataFrame
Columns: [index, Bola, Freq]
Index: []